{% extends 'crm_base.html' %}
{% load static %}

{% block maincontant %}
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li class="breadcrumb-item active">Dashboard</li>          
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">
            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title">Arrivals</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ all_arrivals }}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">Sales</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-dollar"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ total_sum|floatformat:0 }}</h6>
                      <span class="text-success small pt-1 fw-bold">GP: {{ gps }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">
              <div class="card info-card customers-card">
                <div class="card-body">
                  <h5 class="card-title">Customers</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ all_companies }}</h6>
                      {% if request.user.is_staff %}
                        <span class="text-danger small pt-1 fw-bold">{{ kyc_companies }}</span> <span class="text-muted small pt-2 ps-1">KYC Done</span>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Customers Card -->

            <!-- Reports -->
            {% if request.user.is_staff %}
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">All Staff Sales & GP Reports</h5>

                    <!-- Line Chart -->
                    <div id="columnChart"></div>

                    <script>
                      document.addEventListener('DOMContentLoaded', () => {
                        new ApexCharts(document.querySelector('#columnChart'), {
                          series: [
                            {
                              name: 'Sales',
                              data: {{values|safe}}
                            },
                            {
                              name: 'Cost',
                              data: {{value|safe}}
                            },
                            {
                              name: 'GP',
                              data: {{gp|safe}}
                            }
                          ],
                          chart: {
                            type: 'bar',
                            height: 350
                          },
                          plotOptions: {
                            bar: {
                              horizontal: false,
                              columnWidth: '55%',
                              endingShape: 'rounded'
                            }
                          },
                          dataLabels: {
                            enabled: true,
                            formatter: (val) => { return Math.round(val)}
                          },
                          stroke: {
                            show: true,
                            width: 2,
                            colors: ['transparent']
                          },
                          xaxis: {
                            categories: {{names|safe}}
                          },
                          yaxis: {
                            labels: {
                              formatter: (val) => { return Math.round(val)}
                            },
                            title: {
                              text: '$ (thousands)'
                            }
                          },
                          fill: {
                            opacity: 1
                          },
                          tooltip: {
                            y: {
                              formatter: function (val) {
                                return '$ ' + Math.round(val) + ' thousands'
                              }
                            }
                          }
                        }).render()
                      })
                    </script>
                    <!-- End Line Chart -->
                  </div>
                </div>
              </div>
            {% endif %}
            <!-- End Reports -->

            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">Arrivals</h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Staff</th>
                        <th scope="col">Agency Name</th>
                        <th scope="col">Inv Amount</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in all_arrival_data %}
                        {% if request.user.is_staff %}
                          <tr>
                            <th scope="row">{{ item.file_Ref }}</th>
                            <td>{{ item.staff }}</td>
                            <td>
                              <a href="#" class="text-primary">{{ item.agency_name }}</a>
                            </td>
                            <td>{{ item.inv_amount }}</td>
                            <td>
                              <span class="badge bg-success">{{ item.payment_status }}</span>
                            </td>
                          </tr>
                        {% elif request.user == item.creator %}
                          <tr>
                            <th scope="row">{{ item.file_Ref }}</th>
                            <td>{{ item.staff }}</td>
                            <td>
                              <a href="#" class="text-primary">{{ item.agency_name }}</a>
                            </td>
                            <td>{{ item.inv_amount }}</td>
                            <td>
                              <span class="badge bg-success">{{ item.payment_status }}</span>
                            </td>
                          </tr>
                        {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- End Recent Sales -->
          </div>
        </div>
        <!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">
          <!-- Sales Invoice Amount -->
          {% if request.user.is_staff %}
            <div class="card">
              <div class="card-body pb-0">
                <h5 class="card-title">All Staff's Sales</h5>

                <div id="trafficChart" style="min-height: 360px;" class="echart"></div>

                <script>
                document.addEventListener("DOMContentLoaded", () => {
                  echarts.init(document.querySelector("#trafficChart")).setOption({
                    tooltip: {
                      trigger: 'item'
                    },
                    legend: {
                      top: '1%',
                      left: 'center'
                    },
                    series: [{
                      name: 'Best performing staff',
                      type: 'pie',
                      radius: ['40%', '70%'],
                      avoidLabelOverlap: false,
                      label: {
                        show: false,
                        position: 'center'
                      },
                      emphasis: {
                        label: {
                          show: true,
                          fontSize: '18',
                          fontWeight: 'bold'
                        }
                      },
                      labelLine: {
                        show: false
                      },
                      data: {{data|safe}}
                    }]
                  });
                });
              </script>
              </div>
            </div>
          {% endif %}
          <!-- End Sales report -->

          <!-- Sales GP Report Top 5 Agency's Sales -->

          <div class="card">
            <div class="card-body pb-0">
              <h5 class="card-title">Top 5 Agency's Sales</h5>

              <div id="agencyChart" style="min-height: 360px;" class="echart"></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  echarts.init(document.querySelector("#agencyChart")).setOption({
                    tooltip: {
                      trigger: 'item'
                    },
                    legend: {
                      top: '1%',
                      left: 'center'
                    },
                    series: [{
                      name: 'Top Sales - Agency',
                      type: 'pie',
                      radius: ['40%', '70%'],
                      avoidLabelOverlap: false,
                      label: {
                        show: false,
                        position: 'center'
                      },
                      emphasis: {
                        label: {
                          show: true,
                          fontSize: '18',
                          fontWeight: 'bold'
                        }
                      },
                      labelLine: {
                        show: false
                      },
                      data: {% if agency_data|safe %} {{agency_data|safe}} {% else %} [{'name':'a','value': 100},{'name':'2','value': 200}] {% endif %} 
                    }]
                  });
                });
              </script>
            </div>
          </div>
          <!-- End Top 5 Agency's Sales -->

          <!-- Top 5 Location Sales -->

          <div class="card">
            <div class="card-body pb-0">
              <h5 class="card-title">Location wise Sales</h5>

              <div id="LocationChart" style="min-height: 300px;" class="echart"></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  echarts.init(document.querySelector("#LocationChart")).setOption({
                    tooltip: {
                      trigger: 'item'
                    },
                    legend: {
                      top: '1%',
                      left: 'center'
                    },
                    series: [{
                      name: 'Top Sales Location',
                      type: 'pie',
                      radius: ['40%', '70%'],
                      avoidLabelOverlap: false,
                      label: {
                        show: false,
                        position: 'center'
                      },
                      emphasis: {
                        label: {
                          show: true,
                          fontSize: '18',
                          fontWeight: 'bold'
                        }
                      },
                      labelLine: {
                        show: false
                      },
                      data: {% if location_data|safe %} {{location_data|safe}} {% else %} [{'name':'a','value': 100},{'name':'2','value': 200}] {% endif %} 
                    }]
                  });
                });
              </script>
            </div>
          </div>
          <!-- Top 5 Location Sales -->
        </div>
        <!-- End Right side columns -->
      </div>
    </section>
  </main>
  <!-- End #main -->
{% endblock %}
