{% extends 'crm_base.html' %}
{% load static %}

{% block maincontant %}
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Company</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'allfeedback' %}">Feedbacks Table</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'addfeedback' %}">
              <i class="bi bi-person-raised-hand" style="font-size: 14px;"></i>
              <span>Add Feedback</span>
            </a>
          </li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->

    <section class="section profile">
      <div class="card p-0">
        <div class="card-body pt-1">
          <div class="mb-3 px-2">
            <form method="get" action="">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-5 col-sm-12">
                  <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Enter Contact to Search</span>
                    <input type="text" name="query" class="form-control" placeholder="Search" value="{{ search_form.query.value }}" />
                  </div>
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                  <div class="input-group input-group-sm">
                    <span class="input-group-text">Start & End Date</span>
                    <input type="date" name="start_date" class="form-control" value="{{ search_form.start_date.value }}" />
                    <input type="date" name="end_date" class="form-control" value="{{ search_form.end_date.value }}" />
                  </div>
                </div>
                <div class="col-md-1 col-sm-12 mb-3">
                  <button type="submit" class="btn btn-primary btn-sm">Search</button>
                </div>
              </div>
            </form>
          </div>

          <div class="table-responsive" style="width: auto; height: 450px;">
            <table class="table table-success table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col" class="text-center px-2 m-0">#</th>
                  <th scope="col" class="text-center px-2 m-0 text-nowrap">Creator Name</th>
                  <th scope="col" class="text-center px-2 m-0 text-nowrap">Suggestion Title</th>
                  <th scope="col" class="text-center px-2 m-0 text-nowrap">Description</th>
                  <th scope="col" class="text-center px-2 m-0 text-nowrap">File</th>
                </tr>
              </thead>
              <tbody>
                {% for item in feedback_data %}
                  {% if request.user.is_staff %}
                    <tr class="p-0 m-0">
                      <td class="p-0 m-0 text-nowrap">
                        <div class="dropdown p-0">
                          <button class="btn bi bi-three-dots dropdown-toggle p-0 m-0" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                          <ul class="dropdown-menu m-0 p-0">
                            {% if perms.crm.change_arivaltable %}
                              <li>
                                <a class="btn btn-sm btn-warning p-0 m-0" href="{% url 'editfeedback' item.id %}"><i class="bi bi-pencil-square" style="font-size: 11px;"></i>Edit</a>
                              </li>
                            {% endif %}
                            {% if perms.crm.delete_arivaltable %}
                              <li>
                                <a class="btn btn-sm btn-danger p-0 m-0" href="{% url 'deletefeedback' item.id %}"><i class="bi bi-trash-fill" style="font-size: 11px;"></i> Delete</a>
                              </li>
                            {% endif %}
                          </ul>
                        </div>
                      </td>
                      <td class="p-1 m-0 text-truncate text-center" style="font-size: 12px; max-width: 100px;">{{ item.creator }}</td>
                      <td class="p-1 m-0 text-truncate text-center" style="font-size: 12px; max-width: 100px;">{{ item.suggestion_title }}</td>
                      <td class="p-1 m-0 text-truncate text-center" style="font-size: 12px; max-width: 100px;">{{ item.description }}</td>
                      <td class="p-1 m-0 text-truncate text-center" style="font-size: 12px; max-width: 100px;">
                        <img src="{{ item.suport_file.url }}" alt="Suporting files" style="height: 20px; width: 20px;" />
                        <a href="{{ item.suport_file.url }}" target="_blank">Link</a>
                      </td>
                    </tr>

                    <!-- - For Creater Section Only -->
                  {% elif item.creator == request.user %}
                    <tr class="p-0 m-0">
                      <td class="p-0 m-0 text-nowrap">
                        <div class="dropdown p-0">
                          <button class="btn bi bi-three-dots dropdown-toggle p-0 m-0" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                          <ul class="dropdown-menu m-0 p-0">
                            {% if perms.crm.change_arivaltable %}
                              <li>
                                <a class="btn btn-sm btn-warning p-0 m-0" href="{% url 'editfeedback' item.id %}"><i class="bi bi-pencil-square" style="font-size: 11px;"></i>Edit</a>
                              </li>
                            {% endif %}
                            {% if perms.crm.delete_arivaltable %}
                              <li>
                                <a class="btn btn-sm btn-danger p-0 m-0" href="{% url 'deletefeedback' item.id %}"><i class="bi bi-trash-fill" style="font-size: 11px;"></i> Delete</a>
                              </li>
                            {% endif %}
                          </ul>
                        </div>
                      </td>
                      <td class="p-1 m-0 text-truncate text-center" style="font-size: 12px; max-width: 100px;">{{ item.creator }}</td>
                      <td class="p-1 m-0 text-truncate text-center" style="font-size: 12px; max-width: 100px;">{{ item.suggestion_title }}</td>
                      <td class="p-1 m-0 text-truncate text-center" style="font-size: 12px; max-width: 100px;">{{ item.description }}</td>
                      <td class="p-1 m-0 text-truncate text-center" style="font-size: 12px; max-width: 100px;">
                        <img src="{{ item.suport_file.url }}" alt="Suporting files" style="height: 20px; width: 20px;" />
                        <a href="{{ item.suport_file.url }}" target="_blank">Link</a>
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="card-footer bg-transparent">
            <div class="pagination">
              <span class="step-links">
                {% if feedback_data.has_previous %}
                  <a href="?page=1" class="btn btn-sm btn-info">&laquo; First</a>
                  <a href="?page={{ feedback_data.previous_page_number }}" class="btn btn-sm btn-info">Previous</a>
                {% endif %}

                <span class="current">Page {{ feedback_data.number }} of {{ feedback_data.paginator.num_pages }}.</span>

                {% if feedback_data.has_next %}
                  <a href="?page={{ feedback_data.next_page_number }}" class="btn btn-sm btn-info">Next</a>
                  <a href="?page={{ feedback_data.paginator.num_pages }}" class="btn btn-sm btn-info">Last &raquo;</a>
                {% endif %}
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- End #main -->
{% endblock %}
