{% extends 'pages/user_profile/profile.html' %}
{% block profilepages %}
  <div class="tab-pane fade show active profile-overview" id="profile-overview">
    <h5 class="card-title">About</h5>
    <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</p>

    <h5 class="card-title">Profile Details</h5>

    <div class="row">
      <div class="col-lg-3 col-md-4 label">Full Name</div>
      <div class="col-lg-9 col-md-8">Naveen Kumar Verma</div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-4 label">Company</div>
      <div class="col-lg-9 col-md-8">Aroma Organics Limited</div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-4 label">Job</div>
      <div class="col-lg-9 col-md-8">Python Developer</div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-4 label">Country</div>
      <div class="col-lg-9 col-md-8">India</div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-4 label">Address</div>
      <div class="col-lg-9 col-md-8">E 211-212 Tower II Grand Central Seawood Navi Mumbai 410206</div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-4 label">Phone</div>
      <div class="col-lg-9 col-md-8">9721917130</div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-4 label">Email</div>
      <div class="col-lg-9 col-md-8">care@aromaorgannic.in</div>
    </div>
  </div>
{% endblock %}
