{% extends 'crm_base.html' %}
{% load static %}

{% block maincontant %}
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Company</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li class="breadcrumb-item active">
            <a href="{% url 'newcomp' %}">New Registered Companies</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'allcompanykyc' %}">KYC Completed Companies</a>
          </li>
          {% if perms.crm.add_companykycdetails %}
            <li class="breadcrumb-item">
              <a href="{% url 'addcompanykyc' %}"><i class="bi bi-file-earmark-plus-fill" style="font-size: 14px;"></i><span>Add KYC</span></a>
            </li>
          {% endif %}
          <li class="breadcrumb-item">
            <a href="{% url 'allcontact' %}">All Contact</a>
          </li>
          {% if perms.crm.add_contacttable %}
            <li class="breadcrumb-item">
              <a href="{% url 'addcontact' %}">
                <i class="bi bi-person-fill-add" style="font-size: 14px;"></i>
                <span>Add New Company</span>
              </a>
            </li>
          {% endif %}

          {% comment %} {% if perms.crm.add_newcompanyregistration %}
            <li class="breadcrumb-item">
              <a href="{% url 'newcompregister' %}"><i class="bi bi-building-fill-add" style="font-size: 14px;"></i><span>Register New Company</span></a>
            </li>
          {% endif %} {% endcomment %}
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->

    <section class="section profile">
      <div class="card p-0">
        <div class="card-body pt-1">
          <div class="mb-3 px-1">
            <form method="get" action="">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-5 col-sm-12">
                  <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Enter Contact to Search</span>
                    <input type="text" name="query" class="form-control" placeholder="Search" value="{{ search_form.query.value }}" />
                  </div>
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                  <div class="input-group input-group-sm">
                    <span class="input-group-text">Start & End Date</span>
                    <input type="date" name="start_date" class="form-control" value="{{ search_form.start_date.value }}" />
                    <input type="date" name="end_date" class="form-control" value="{{ search_form.end_date.value }}" />
                  </div>
                </div>
                <div class="col-md-1 col-sm-12 mb-3">
                  <button type="submit" class="btn btn-primary btn-sm">Search</button>
                </div>
              </div>
            </form>
          </div>

          <div class="table-responsive" style="width: auto; height: 450px;">
            <table class="table table-success table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col" class="text-center p-0 m-1">#</th>
                  <th scope="col" class="text-center p-0 m-1">Company Name</th>
                  <th scope="col" class="text-center p-0 m-1">Status</th>
                  <th scope="col" class="text-center p-0 m-1">Complete KYC</th>
                  <th scope="col" class="text-center p-0 m-1">Add Contact</th>
                  <th scope="col" class="text-center p-0 m-1">New Lead</th>
                </tr>
              </thead>
              <tbody>
                {% for item in company_data %}
                  <tr class="p-0 m-0">
                    <td class="p-1 m-0">{{forloop.counter }}</td>
                    <td class="p-1 m-0" style="font-size: 12px;">{{ item.company_name }}</td>
                    <td class="p-1 m-0" style="font-size: 12px;">
                      {% if item.kyc_status %}
                        <i class="bi bi-check-circle-fill bg-success">Kyc Done</i>
                      {% else %}
                        <i class="bi bi-x-circle bg-danger">Pending</i>
                      {% endif %}
                    </td>
                    <td class="p-1 m-0" style="font-size: 12px;">
                      <a href="{% url 'addcompanykyc' %}"><i class="bi bi-file-earmark-plus-fill" style="font-size: 14px;"></i><span>Complete KYC</span></a>
                    </td>
                    <td class="p-1 m-0" style="font-size: 12px;">
                      <a href="{% url 'addcontact' %}">
                        <i class="bi bi-person-fill-add" style="font-size: 14px;"></i>
                        <span>Add contact</span>
                      </a>
                    </td>
                    <td class="p-1 m-0" style="font-size: 12px;">
                      <a href="{% url 'addarrival' %}">
                        <i class="bi bi-send-plus-fill" style="font-size: 14px;"></i>
                        <span>New Lead</span>
                      </a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="card-footer bg-transparent">
            <div class="pagination">
              <span class="step-links">
                {% if company_data.has_previous %}
                  <a href="?page=1" class="btn btn-sm btn-info">&laquo; First</a>
                  <a href="?page={{ company_data.previous_page_number }}" class="btn btn-sm btn-info">Previous</a>
                {% endif %}
                <span class="current">Page {{ company_data.number }} of {{ company_data.paginator.num_pages }}.</span>
                {% if company_data.has_next %}
                  <a href="?page={{ company_data.next_page_number }}" class="btn btn-sm btn-info">Next</a>
                  <a href="?page={{ company_data.paginator.num_pages }}" class="btn btn-sm btn-info">Last &raquo;</a>
                {% endif %}
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- End #main -->
{% endblock %}
