{% extends 'crm_base.html' %} {% load static %} {% block maincontant %}
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Company Master</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li class="breadcrumb-item"><a href="{% url 'newcomp' %}"> New Compnay </a></li>
          <li class="breadcrumb-item active">New Company Registration</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-body pt-2">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered p-0">
                <li class="nav-item p-0">
                  <button class="nav-link active p-0 m-0"><a href="{% url 'newcomp' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Back" class="pe-2"><i class="bi bi-box-arrow-left" style="font-size: 24px"></i></a>New Company</button>
                </li>
              </ul>
              <div class="tab-pane fade show active profile-edit pt-3">
                <!-- Profile Edit Form -->
                <form method="POST">
                  {% csrf_token %}

                  {% comment %} <div class="row mb-3">
                    <label for="company_name" class="col-md-4 form-label">Company Name</label>
                    <input typye="list" class="col-md-8 form-control" name="company_name" id="company_name" list="company_list" autocomplete="off" />
                    <datalist id="company_list">
                      {% for company in companies %}
                        <option value="{{ company.company_name }}">{{ company_name }}</option>
                      {% endfor %}
                    </datalist>
                  </div> {% endcomment %}

                  {% for field in form %} 
                      <div class="row mb-3">
                        <label for="{{ field.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{ field.label }}</label>
                        <div class="col-md-8 col-lg-9">{{ field }}</div>
                      </div>
                  {% endfor %}

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Register</button>
                  </div>
                </form>
                <!-- End Profile Edit Form -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- End #main -->
{% endblock %}
