<!-- ======= Company ======= -->
<li class="nav-item">
  <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#"><i class="bi bi-menu-button-wide"></i><span>Client/Company</span><i class="bi bi-chevron-down ms-auto"></i></a>
  <ul id="components-nav" class="nav-content" data-bs-parent="#sidebar-nav">
    {% comment %} <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav"> need to replace above {% endcomment %}
    <!--make bellow invisible-->  
    {% comment %} {% if perms.crm.add_newcompanyregistration %}  
    <li>
        <a href="{% url 'addcontact' %}">
          <i class="bi bi-building-fill-add" style="font-size: 20px;"></i><span>Register New Company</span>
        </a>
      </li>
      {% endif %}
      {% if perms.crm.view_newcompanyregistration %}  
    <li>
      <a href="{% url 'newcomp' %}"><i class="bi bi-building-fill-check" style="font-size: 20px;"></i>
        <span>New Registered Company</span>
      </a>
    </li>
    {% endif %} {% endcomment %}

    {% if perms.crm.add_contacttable %}
    <li>
      <a href="{% url 'addcontact' %}"><i class="bi bi-person-fill-add" style="font-size: 20px;"></i><span>Register New Company</span></a>
    </li>
    {% endif %}
    {% if perms.crm.view_contacttable %}
    <li>
      <a href="{% url 'allcontact' %}"><i class="bi bi-person-lines-fill" style="font-size: 20px;"></i><span>All Company</span></a>
    </li>
    {% endif %}

    <li>
      <hr class="p-0 m-0">
    </li>
{% comment %}     
    {% if perms.crm.add_companykycdetails %}
    <li>
      <a href="{% url 'addcompanykyc' %}">
        <i class="bi bi-file-earmark-plus-fill" style="font-size: 20px;">          
        </i><span>Add KYC</span>
      </a>
    </li>
    {% endif %}
    {% if perms.crm.view_companykycdetails %}
    <li>
      <a href="{% url 'allcompanykyc' %}"><i class="bi bi-table" style="font-size: 20px;">
      </i><span>KYC Completed</span>
      </a>
    </li>
    {% endif %} {% endcomment %}
    

    <!-- Temprory Stop Visibilty-->

    {% comment %} <li>
      <hr class="p-0 m-0">
    </li>

    {% if perms.crm.add_contacttable %}
    <li>
      <a href="{% url 'addcontact' %}"><i class="bi bi-person-fill-add" style="font-size: 20px;"></i><span>Add Contact</span></a>
    </li>
    {% endif %}
    {% if perms.crm.view_contacttable %}
    <li>
      <a href="{% url 'allcontact' %}"><i class="bi bi-person-lines-fill" style="font-size: 20px;"></i><span>Contact Table</span></a>
    </li>
    {% endif %} {% endcomment %}



    <li>
      <hr class="p-0 m-0">
    </li>
    {% if perms.crm.add_arivaltable %}
    <li>
      <a href="{% url 'addarrival' %}"><i class="bi bi-journal-plus" style="font-size: 20px;"></i><span>Add Arrivals</span></a>
    </li>
    {% endif %}
    {% if perms.crm.view_arivaltable %}
    <li>
      <a href="{% url 'allarrival' %}"><i class="bi bi-suitcase2-fill" style="font-size: 20px;"></i><span>Arrivals Table</span></a>
    </li>
    {% endif %}
  </ul>
</li>
<!-- End Company Nav -->
