<!-- ======= Company ======= -->
<li class="nav-item">
  <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
    <i class="bi bi-menu-button-wide"></i>
    <span>Company master</span>
    <i class="bi bi-chevron-down ms-auto"></i>
  </a>
  <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
    {% if perms.crm.add_newcompanyregistration %}
      <li>
        <a href="{% url 'newcompregister' %}">
          <i class="bi bi-building-fill-add" style="font-size: 20px;"></i>
          <span>Add New Company</span>
        </a>
      </li>
    {% endif %}
    {% if perms.crm.view_newcompanyregistration %}
      <li>
        <a href="{% url 'newcomp' %}">
          <i class="bi bi-building-fill-check" style="font-size: 20px;"></i>
          <span>Company Data</span>
        </a>
      </li>
    {% endif %}

    <li>
      <hr class="p-0 m-0" />
    </li>

    {% if perms.crm.add_companykycdetails %}
      <li>
        <a href="{% url 'addcompanykyc' %}"><i class="bi bi-file-earmark-plus-fill" style="font-size: 20px;"></i><span>Add Company KYC</span></a>
      </li>
    {% endif %}

    <!-- Temprory Stop Visibilty -->

    <li>
      <hr class="p-0 m-0" />
    </li>

    {% comment %} <li>
      <hr class="p-0 m-0" />
    </li> {% endcomment %}
  </ul>
</li>
<!-- End Company Nav -->
