<!-- ======= Sidebar ======= -->

<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <!-- ======= Dashboard ======= -->
    {% include "crm_sidebar/crm_side-dashboard.html" %}
    <!-- End Dashboard Nav -->

    <!-- ======= Components ======= -->
    {% include "crm_sidebar/crm_side-company.html" %}
    <!-- End Components Nav -->

    <!-- ======= Forms ======= -->
    {% comment %} {% include "crm_sidebar/crm_side-vendor.html" %} {% endcomment %}
    <!-- End Forms Nav -->

    <!-- ======= Tables ======= -->
    {% comment %} {% include "crm_sidebar/crm_side-table.html" %} {% endcomment %}
    <!-- End Tables Nav -->

    <!-- ======= Charts =======  Currently Stopped-->
    {% comment %} {% include "sidebar/side-chart.html" %} {% endcomment %}
    <!-- End Charts Nav -->

    <!-- ======= Icons Currently Stopped ======= -->
    {% comment %} {% include "sidebar/side-icon.html" %} {% endcomment %}
    <!-- End Icons Nav -->


    <!-- ======= Single Pages ======= -->
    {% comment %} {% include "crm_sidebar/side-pages.html" %} {% endcomment %}
     <!-- End Single Pages Nav -->

  </ul>
</aside>
<!-- End Sidebar-->
