{% extends 'crm_base.html' %}
{% load static %}

{% block maincontant %}
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Company</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li class="breadcrumb-item"><a href="{% url 'allcompanykyc' %}">Compnay</a></li></li>
          <li class="breadcrumb-item active">Full KYC Companies</li>
          {% if perms.crm.add_companykycdetails %}
          <li class="breadcrumb-item">
            <a href="{% url 'addcompanykyc' %}">
              <i class="bi bi-file-earmark-plus-fill" style="font-size: 14px;">
              </i><span>Add KYC</span></a>
          </li>
          {% endif %}
          {% if perms.crm.add_contacttable %}
          <li class="breadcrumb-item">
            <a href="{% url 'addcontact' %}">
              <i class="bi bi-person-fill-add" style="font-size: 14px;"></i>
              <span>Add Contact</span>
            </a>
          </li>
          {% endif %}
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->

    <section class="section profile">
      <div class="card p-0">
        <div class="card-body pt-1">
          <div class="mb-3 px-2">
            <form method="get" action="">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-5 col-sm-12">
                  <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Enter Contact to Search</span>
                    <input type="text" name="query" class="form-control" placeholder="Search" value="{{ search_form.query.value }}" />
                  </div>
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                  <div class="input-group input-group-sm">
                    <span class="input-group-text">Start & End Date</span>
                    <input type="date" name="start_date" class="form-control" value="{{ search_form.start_date.value }}" />
                    <input type="date" name="end_date" class="form-control" value="{{ search_form.end_date.value }}" />
                  </div>
                </div>
                <div class="col-md-1 col-sm-12 mb-3">
                  <button type="submit" class="btn btn-primary btn-sm">Search</button>
                </div>
              </div>
            </form>
          </div>

          <div class="table-responsive" style="width: auto; height: 450px;">
            <table class="table table-success table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col" class="text-center px-2 m-0">#</th>
                  <th scope="col" class="text-center px-2 m-0 text-nowrap">Company Name</th>
                  <th scope="col" class="text-center px-2 m-0 text-nowrap">Constitution</th>
                  <th scope="col" class="text-center px-2 m-0 text-nowrap">Office Role</th>
                  <th scope="col" class="text-center px-2 m-0 text-nowrap">Pan Card</th>
                  <th scope="col" class="text-center px-2 m-0 text-nowrap">Pan File</th>
                  <th scope="col" class="text-center px-2 m-0 text-nowrap">GSTIN</th>
                  <th scope="col" class="text-center px-2 m-0 text-nowrap">GSTIN File</th>
                  <th scope="col" class="text-center px-2 m-0 text-nowrap">MSMSE</th>
                  <th scope="col" class="text-center px-2 m-0 text-nowrap">MSMSE File</th>
                  <th scope="col" class="text-center px-2 m-0 text-nowrap">Company Register Address</th>
                  <th scope="col" class="text-center px-2 m-0 text-nowrap">City</th>
                  <th scope="col" class="text-center px-2 m-0 text-nowrap">State</th>
                  <th scope="col" class="text-center px-2 m-0 text-nowrap">Pincode</th>
                  <th scope="col" class="text-center px-2 m-0 text-nowrap">Email</th>
                  <th scope="col" class="text-center px-2 m-0 text-nowrap">Landline</th>
                  <th scope="col" class="text-center px-2 m-0 text-nowrap">Affiliations</th>
                </tr>
              </thead>
              <tbody>
                {% for item in company_data %}
                  {% if request.user.is_staff %}
                    <tr class="p-0 m-0">
                      <td class="p-0 m-0 text-nowrap">
                        <div class="dropdown p-0">
                          <button class="btn bi bi-three-dots dropdown-toggle p-0 m-0" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                          <ul class="dropdown-menu m-0 p-0">
                            <li>
                              <a class="btn btn-sm btn-info p-0 m-0" href="{% url 'overviewcompanykyc' item.id %}"><i class="bi bi-eye-fill p-0 m-0" style="font-size: 11px;"></i> View</a>
                            </li>
                            {% if perms.crm.change_arivaltable %}
                              <li>
                                <a class="btn btn-sm btn-warning p-0 m-0" href="{% url 'editcompanykyc' item.id %}"><i class="bi bi-pencil-square" style="font-size: 11px;"></i>Edit</a>
                              </li>
                            {% endif %}
                            {% if perms.crm.delete_arivaltable %}
                              <li>
                                <a class="btn btn-sm btn-danger p-0 m-0" href="{% url 'deletecompanykyc' item.id %}"><i class="bi bi-trash-fill" style="font-size: 11px;"></i> Delete</a>
                              </li>
                            {% endif %}
                          </ul>
                        </div>
                      </td>

                      <td class="p-1 m-0 text-truncate" style="font-size: 12px; max-width: 100px;">{{ item.company_kyc }}-{{ item.company_branch }}</td>
                      <td class="p-1 m-0 text-truncate" style="font-size: 12px; max-width: 100px;">{{ item.Constitution }}</td>
                      <td class="p-1 m-0 text-truncate" style="font-size: 12px; max-width: 100px;">{{ item.office_role }}</td>
                      <td class="p-1 m-0 text-truncate" style="font-size: 12px; max-width: 100px;">{{ item.pancard_no }}</td>

                      {% if item.pancard_file %}
                        <td class="p-1 m-0" style="font-size: 12px;">
                          <img src="{{ item.pancard_file.url }}" style="height:30px; width: 30px;" />
                        </td>
                      {% else %}
                        <td class="p-1 m-0" style="font-size: 12px;">Null</td>
                      {% endif %}

                      <td class="p-1 m-0" style="font-size: 12px;">{{ item.gstin }}</td>

                      {% if item.gstin_file %}
                        <td class="p-1 m-0" style="font-size: 12px;">
                          <img src="{{ item.gstin_file.url }}" style="height:30px; width: 30px;" />
                        </td>
                      {% else %}
                        <td class="p-1 m-0" style="font-size: 12px;">Null</td>
                      {% endif %}

                      <td class="p-1 m-0" style="font-size: 12px;">{{ item.msme_no }}</td>

                      {% if item.msme_file %}
                        <td class="p-1 m-0" style="font-size: 12px;">
                          <img src="{{ item.msme_file.url }}" style="height:30px; width: 30px;" />
                        </td>
                      {% else %}
                        <td class="p-1 m-0" style="font-size: 12px;">Null</td>
                      {% endif %}

                      <td class="p-1 m-0" style="font-size: 12px;">{{ item.company_reg_address }}</td>
                      <td class="p-1 m-0" style="font-size: 12px;">{{ item.company_city }}</td>
                      <td class="p-1 m-0" style="font-size: 12px;">{{ item.company_state }}</td>
                      <td class="p-1 m-0" style="font-size: 12px;">{{ item.company_pincode }}</td>
                      <td class="p-1 m-0" style="font-size: 12px;">{{ item.company_email }}</td>
                      <td class="p-1 m-0" style="font-size: 12px;">{{ item.company_landline }}</td>
                      <td class="p-1 m-0" style="font-size: 12px;">{{ item.company_Affiliations }}</td>
                    </tr>

                    <!-- Creater Data Display Section -->
                    {% elif request.user == item.creator %}
                    <tr class="p-0 m-0">
                      <td class="p-0 m-0 text-nowrap">
                        <div class="dropdown p-0">
                          <button class="btn bi bi-three-dots dropdown-toggle p-0 m-0" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                          <ul class="dropdown-menu m-0 p-0">
                            <li>
                              <a class="btn btn-sm btn-info p-0 m-0" href="{% url 'overviewcompanykyc' item.id %}"><i class="bi bi-eye-fill p-0 m-0" style="font-size: 11px;"></i> View</a>
                            </li>
                            {% if perms.crm.change_arivaltable %}
                              <li>
                                <a class="btn btn-sm btn-warning p-0 m-0" href="{% url 'editcompanykyc' item.id %}"><i class="bi bi-pencil-square" style="font-size: 11px;"></i>Edit</a>
                              </li>
                            {% endif %}
                            {% if perms.crm.delete_arivaltable %}
                              <li>
                                <a class="btn btn-sm btn-danger p-0 m-0" href="{% url 'deletecompanykyc' item.id %}"><i class="bi bi-trash-fill" style="font-size: 11px;"></i> Delete</a>
                              </li>
                            {% endif %}
                          </ul>
                        </div>
                      </td>

                      <td class="p-1 m-0 text-truncate" style="font-size: 12px; max-width: 100px;">{{ item.company_kyc }}-{{ item.company_branch }}</td>
                      <td class="p-1 m-0 text-truncate" style="font-size: 12px; max-width: 100px;">{{ item.Constitution }}</td>
                      <td class="p-1 m-0 text-truncate" style="font-size: 12px; max-width: 100px;">{{ item.office_role }}</td>
                      <td class="p-1 m-0 text-truncate" style="font-size: 12px; max-width: 100px;">{{ item.pancard_no }}</td>

                      {% if item.pancard_file %}
                        <td class="p-1 m-0" style="font-size: 12px;">
                          <img src="{{ item.pancard_file.url }}" style="height:10px; width: 10px;" />
                        </td>
                      {% else %}
                        <td class="p-1 m-0" style="font-size: 12px;">Null</td>
                      {% endif %}

                      <td class="p-1 m-0" style="font-size: 12px;">{{ item.gstin }}</td>

                      {% if item.gstin_file %}
                        <td class="p-1 m-0" style="font-size: 12px;">
                          <img src="{{ item.gstin_file.url }}" style="height:10px; width: 10px;" />
                        </td>
                      {% else %}
                        <td class="p-1 m-0" style="font-size: 12px;">Null</td>
                      {% endif %}

                      <td class="p-1 m-0" style="font-size: 12px;">{{ item.msme_no }}</td>

                      {% if item.msme_file %}
                        <td class="p-1 m-0" style="font-size: 12px;">
                          <img src="{{ item.msme_file.url }}" style="height:10px; width: 10px;" />
                        </td>
                      {% else %}
                        <td class="p-1 m-0" style="font-size: 12px;">Null</td>
                      {% endif %}

                      <td class="p-1 m-0" style="font-size: 12px;">{{ item.company_reg_address }}</td>
                      <td class="p-1 m-0" style="font-size: 12px;">{{ item.company_city }}</td>
                      <td class="p-1 m-0" style="font-size: 12px;">{{ item.company_state }}</td>
                      <td class="p-1 m-0" style="font-size: 12px;">{{ item.company_pincode }}</td>
                      <td class="p-1 m-0" style="font-size: 12px;">{{ item.company_email }}</td>
                      <td class="p-1 m-0" style="font-size: 12px;">{{ item.company_landline }}</td>
                      <td class="p-1 m-0" style="font-size: 12px;">{{ item.company_Affiliations }}</td>
                    </tr>

                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="card-footer bg-transparent">
            <div class="pagination">
              <span class="step-links">
                {% if company_data.has_previous %}
                  <a href="?page=1" class="btn btn-sm btn-info">&laquo; First</a>
                  <a href="?page={{ company_data.previous_page_number }}" class="btn btn-sm btn-info">Previous</a>
                {% endif %}

                <span class="current">Page {{ company_data.number }} of {{ company_data.paginator.num_pages }}.</span>

                {% if company_data.has_next %}
                  <a href="?page={{ company_data.next_page_number }}" class="btn btn-sm btn-info">Next</a>
                  <a href="?page={{ company_data.paginator.num_pages }}" class="btn btn-sm btn-info">Last &raquo;</a>
                {% endif %}
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- End #main -->
{% endblock %}
