{% extends 'baseaccounts.html' %}
{% load static %}
{% block credentialspage %}
  <div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex justify-content-center py-4">
              <a href="{% url 'home' %}" class="logo d-flex align-items-center w-auto">
                <img src="{% static '/img/Chalo_DMC_Logo.png' %}" alt="" />
                <span class="d-none d-lg-block">Chalo DMC LLP</span>
              </a>
            </div>
            <!-- End Logo -->
            <div>
              {% if messages %}
                <ul class="messages">
                  {% for message in messages %}
                    <li class="bg-{{ message.tags }}">{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>

            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Reset Your Password</h5>
                  <p class="text-center small">Enter your registered email id to get reset link</p>
                </div>

                <form method="POST" class="row g-3 needs-validation" novalidate>
                  {% csrf_token %}
                  <div class="col-12">
                    <div class="form__group">
                      <label for="room_name">Registered Email ID</label>
                      {{ form.email }}
                    </div>
                  </div>

                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">Reset Password</button>
                  </div>
                  <div class="col-12">
                    <p class="small mb-0">
                      Want to Login?
                      <a href="{% url 'loginpage' %}">Login</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>

            <div class="credits">
              Designed by <a href="#">Naveen Kumar Verma</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
